* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../../../assets/images/background2.jpg") ;
    background-size: cover;
    
}



.signin-signup {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
    background-color: rgba(115, 101, 101, 0.5);

}


.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.botn{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #5d5d63;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110vh;
    height: 65vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

.title {
    font-size: 35px;
    color: #1405b5;
    margin-bottom: 10px;
}

.title-user {
    font-size: 22px;
    color: black;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: #faf8f8;
    margin: 10px 0;
    border: 2px solid #1405b5;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field i {
    flex: 1;
    text-align: center;
    color: #1405b5;
    font-size: 18px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #1405b5;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background: #686ee3;    
}





@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:635px) {
    .container::before {
        display: none;
    }
}

@media (max-width:320px) {
    form {
        width: 90%;
    }
}