<header>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-white">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="../../../assets/images/logo2.png" alt="">
				</a>  
				<div class="collapse navbar-collapse" style="padding-top: 15px;" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
						<a class="nav-link active" aria-current="page" routerLink="/" >
								<p class="partene">
									Home
								</p>	
						</a>
						</li>
						
						<li class="nav-item">
						<a class="nav-link " href="#services-section"><p class="partene">
							Departments
						</p></a>
						</li>
						
						
						<li class="nav-item">
						<a class="nav-link " href="#footer"><p class="partene">
							Contact us
						</p></a>
						</li> 

						<li class="nav-item sign">
							<a class="nav-link " target="_self" routerLink="/activity"><p class="partene">
								Sign in Admin
							</p></a>
						</li>		  
						
						<li class="nav-item sign">
							<a class="nav-link " target="_self" routerLink="/doctor"><p class="partene">
								Sign in
								</p></a>
						</li>
				
					</ul>
					
				
				</div>
			</div>
		</nav>
	</div>
	</header>	
        <!--section ABout and image -->
        <section class="home" id="home">
            <div class="home-text container">
                <h2 class="home-title "><p class="partenee">
                    About Us
                </p></h2>
                <a href="index.html" target="_self" class="btn2">Home</a>
            </div>
        </section>
        <section class="about container" id="about">
            <div class="contentBx">
                <h2 class="titleText">Ram Hospital</h2>
                <p class="title-text">
                    Welcome to Exceptional Medical Services, where your health is our top priority. We are a leading hospital dedicated to providing outstanding healthcare to our patients. Our team of highly skilled and compassionate professionals is committed to delivering excellence in medical care.
<br> At Exceptional Medical Services, we believe in a patient-centered approach. <br> We understand that each individual has unique healthcare needs, and we strive to provide personalized care that is tailored to meet those needs. Whether you require emergency care, specialized treatments, or routine check-ups, our experienced medical staff is here to support you every step of the way.
<br> Our hospital is equipped with state-of-the-art facilities and the latest medical technologies to ensure accurate diagnoses and effective treatments. We continuously invest in advanced medical equipment and stay up-to-date with the latest medical research and practices to provide you with the best possible care.
                </p>
            </div>
            <div class="imgBx">
                <img src="../../../assets/images/martha-dominguez-de-gouveia-nMyM7fxpokE-unsplash.jpg" alt="" class="fitBg">
            </div>
        </section>
    <!-- Enf of section -->

    <section class="autoplaysection">
        <div class="container">
            <div class="titlePart">
                <h2><p class="parten">
                    Our Partners
                </p></h2>
            </div>
            <div class="sliderr">
                <div class="slidee-track">
                    <!-- 6 SLIDES -->
                    <div class="slidee">
                        <img  class="imgslidee" src="../../../assets/images/artenaire-cadi.jpeg">
                    </div>
                    <div class="slidee">
                        <img class="imgslidee" src="../../../assets/images/partenaire-chaabi.jpeg">
                    </div>
                    <div class="slidee">
                        <img class="imgslidee" src="../../../assets/images/partenaire-cnrst.png">
                    </div>
                    <div class="slidee">
                        <img class="imgslidee" src="../../../assets/images/partenaire-ensasafi.png">
                    </div>
                    <div class="slidee">
                        <img class="imgslidee" src="../../../assets/images/partenaire-ocp.png">
                    </div>
                    <div class="slidee">
                        <img class="imgslidee" src="../../../assets/images/partenaire-sante.png">
                    </div>
                    
                    
                    <!-- DOUBLED IT -->
                    <div class="slidee">
                        <img class="imgslidee" src="../../../assets/images/partenaire-cadi.jpeg">
                    </div>
                    <div class="slidee">
                        <img class="imgslidee" src="../../../assets/images/partenaire-chaabi.jpeg">
                    </div>
                    <div class="slidee">
                        <img class="imgslidee" src="../../../assets/images/partenaire-cnrst.png">
                    </div>
                    <div class="slidee">
                        <img class="imgslidee" src="../../../assets/images/partenaire-ensasafi.png">
                    </div>
                    <div class="slidee">
                        <img class="imgslidee" src="../../../assets/images/partenaire-ocp.png">
                    </div>
                    <div class="slidee">
                        <img class="imgslidee" src="../../../assets/images/partenaire-sante.png">
                    </div>
                    
                </div>
            </div>
        </div>
        
    </section>

    <footer id="footer">
		<div class="container">
			<div class="row">
				
				<div class="col-md-4">
					<div class="footer-widget">
						<h3>
							<p class="partene">
								Contact Us
							</p>	
						</h3>
						
						<ul class="footer-address">
							<li>
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								<div>
									<h4>Address</h4>
									<p>6444 Miftah Elkhir street <br> Safi PA 33445 <br> Morocco</p>	
								</div>
							</li>
							
							<li>
								<i class="fa fa-phone" aria-hidden="true"></i>
								<div>
									<h4>Phone</h4>
									<p> <a href="tel:+21253128893">+212 576672956</a></p>
									<p> <a href="tel:+21253128893">+212 571892166</a></p>
								</div>
							</li> 
							
							<li>
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<div>
									<h4>Email</h4>
									<p> <a href="mailto:mohamedelmakhfi6@gmail.com">Ramhospital@gmail.com</a> </p>
								</div>
							</li> 
							
							
						</ul>
					</div>
				</div> 
				
				
				
				<div class="col-md-2">
					<div class="footer-widget">
						<h3>
							<p class="partene">
								Departments
							</p>	
						</h3>
						<ul class="footer-menu">
							<li> <a href="#services-section"> Neurology </a> </li>
							<li> <a href="#services-section">Psychology </a> </li>
							<li> <a href="#services-section"> Genicolgy</a> </li>
							<li> <a href="#services-section"> Cardiology</a> </li>
							<li> <a href="#services-section"> Oncology</a> </li>
							<li> <a href="#services-section"> Pediatrics</a> </li>
						</ul>
					</div>
				</div>  
				
				
				<div class="col-md-2">
					<div class="footer-widget">
						<h3>
							<p class="partene">
								Sign in
							</p>	
						</h3>
						<ul class="footer-menu">
							<li> <a href="/addmin.html"> Admin </a> </li>
							<li> <a href="/DoctorGuest.html"> Doctor/Guest </a> </li>
						</ul>
					</div>
				</div>   

				<div class="col-md-4 map" >
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1027.3265462562385!2d-9.23156235942085!3d32.311305852040825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdac21a73568602b%3A0x99a82b688dd337bd!2z2YXYs9iq2LTZgdmJINi52KfYpti02Kk!5e0!3m2!1sfr!2sma!4v1684663428527!5m2!1sfr!2sma" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>	
	</footer>	
